.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  font-size: 70px;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.blc {
  font-size: 70px;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 900;
}

#mainNav .navbar-brand {
  font-family: 'Dancing Script';
  border: double;
}

#tt {
}

#tt2 {
  font-family: 'Bad Script';
  color: #ffc670;
}

#tt1 {
  font-family: 'Bad Script';
  color: #6bbf73;
}

.fa.fa-coffee {
}

#text-cttt {
  font-family: 'dancing script';
  text-align: center;
  font-size: 49px;
}

#ttv-detail {
  padding-top: 20px;
  padding-bottom: 10px;
}

#icon-td {
  display: inherit;
  text-align: center;
  color: #8c2988;
  font-size: 55px;
}

#text-tdx1 {
  text-transform: uppercase;
  text-align: center;
}

#home-cttt {
  text-align: center;
}

#a {
}

#span-home-cttt {
  font-family: 'Dancing Script';
  font-size: 27px;
}

#p-home-cttt {
  font-size: smaller;
  font-family: 'Archivo Narrow';
}

#tdg {
  font-family: 'Archivo Narrow';
}

